/* page.module.css */

/* Definieren Sie die Klasse für den Header */
.header {
  background-color: #ff0000; /* Rote Hintergrundfarbe für den Header */
  padding: 10px 0; /* Innenabstand für den Header */
  text-align: center; /* Zentriert den Inhalt des Headers */
  width: 100%; /* Breite auf 100% des Bildschirms setzen */
  position: fixed; /* Fixieren Sie den Header */
  top: 0; /* Platzieren Sie den Header oben */
  left: 0; /* Platzieren Sie den Header ganz links */
  z-index: 999; /* Stellen Sie sicher, dass der Header über anderen Elementen liegt */
}

/* Stile für die Links im Header */
.header a {
  color: #ff0000; /* Weiße Schriftfarbe für die Links im Header */
  margin-right: 20px; /* Abstand zwischen den Links */
  text-decoration: none; /* Entfernt Unterstreichung der Links */
  display: inline-block; /* Setzt die Anzeige auf inline-Block */
  padding: 10px 20px; /* Innenabstand für die Links */
  border: none; /* Entfernt die Rahmeneigenschaften */
  border-radius: 5px; /* Abgerundete Ecken für die Links */
  background-color: #ffffff; /* Hintergrundfarbe für die Links */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Schatten für die Links */
  transition: background-color 0.3s; /* Übergangseffekt für die Hintergrundfarbe */
}

/* Effekte beim Überfahren mit der Maus */
.header a:hover {
  background-color: #ffffff; /* Ändert die Hintergrundfarbe beim Überfahren */
}

/* Footer-Styling */
.footer {
  background-color: #ff0000; /* Rote Hintergrundfarbe für den Footer */
  color: #ffffff; /* Weiße Textfarbe für den Footer */
  text-align: center; /* Zentriert den Inhalt des Footers */
  padding: 10px 0; /* Innenabstand für den Footer */
  width: 100%; /* Breite auf 100% des Bildschirms setzen */
  position: fixed; /* Positionierung auf festgelegt setzen */
  bottom: 0; /* Abstand zum unteren Rand des Bildschirms */
}

.home {
  position: relative;
  height: 100vh; /* Füllt die gesamte Bildschirmhöhe aus */
  margin-top: 60px; /* Berücksichtigen Sie die Höhe des Headers */
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://www.sbb.ch/content/dam/internet/sharedimages/zug/sonstiges/Einheitswagen-IV-EuroCity.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg'); /* Pfad zum Bild des Zuges */
  background-size: cover; /* Bild skalieren, um den gesamten Bereich zu bedecken */
  background-position: center; /* Bild zentrieren */
  opacity: 1; /* Optional: Ändern Sie die Deckkraft des Bildes */
}

/* Lokaler Klassenselektor für die Überschrift */
.heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem; /* Beispielgröße für die Überschrift */
  color: white; /* Farbe der Überschrift */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Schatteneffekt für die Überschrift */
}
